certifi==2022.5.18.1
Flask==2.1.2
nltk==3.7
numpy==1.22.4
requests==2.27.1
urllib3==1.26.9
Werkzeug==2.1.2
zipp==3.8.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu 
torchvision==0.9.1+cpu
gunicorn==20.1.0
jsonify==1.0.2
requests==2.23.0
